@import '~antd/dist/antd.css';

.app {
    animation: fadeIn 0.5s;
    display: flex;
    flex-direction: row;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1;
    }
}

